MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=odah_eat-posla
MYSQL_USER=odah_eat-posla
MYSQL_PASSWORD=odah_eat-posla
POSLA_OPS_DB_READONLY_USER=posla_ops_ro
POSLA_OPS_DB_READONLY_PASSWORD=
POSLA_OPS_DB_READONLY_HOST=%
DB_HOST=db
TZ=Asia/Tokyo
